.headerTitle{
  font-size: 40px;
  color: blue;
  text-shadow: 0px 0px 5px #ff0000; /* hori vert size*/
}

.headerBackground{
  background-color: lightblue;

}

.listBackground{
  background-color: lightgrey;
}


.subscript{
  font-size: 20px;
}

.myTitles{
  text-align: center;
  text-wight: bold;
  color: red;
  text-shadow: 0px 0px 10px #000000;
}

.myCenter{
  text-align: center;
}
